<div class="about-me-div">
    <div class="picture">
        <img src="https://previews.dropbox.com/p/thumb/AA093V_7SF7jUDFXDTReA7Dqa2b2c2m4KMR-DlIQrcO6h92OehtJXcVdYpkkmiKFTnaYrm4n4lHXohiZRC-6uxv8GipH1yvB8Tfd2nSy9QoDOhUEAovS6fbGegfNgmmrKjKSH2vgd_p5hh4OhWRIj2yP9DKDaB_pCM8i6pT-63TexHyh_-_HHVz5eF_xncEGdy0AOehKGHFK5TwVSqkoQH4Vz9JaJWI6E0wvzJRybbJUvDnHveVjE7P8iyJujnsu1bkbe0x6V-s6Ua2ZSG8nLqzxkrnUh3i-3x6KeNFIYN2YMlhES8o_YgO2WR3t_pqJfvOPr_RBcAvJB5MIT3dK-LTmIBVqkDilfCO8_cvx9F6MMg/p.jpeg?fv_content=true&size_mode=5" alt="Profile picture">
    </div>
    <div class="content">
    <h1>Hello, my name is <span class="name">Mouhamadou Diouf</span></h1>
    <p>After working as a food engineer, I decided to go into web development and do what I really love. Since then, I have enjoyed every single day building web applications and making ideas concrete.</p>
    </div>
</div>