<div class="about-me-div">
    <div class="picture">
        <img src="https://previews.dropbox.com/p/thumb/AA32CJF-4k5av6_Kje1csX1wM7RXGU47hF7qTyiw_SaunhnuSdsH6svtoJZgLQw7GT-_l0-I0go5uaNwKtxLJA0Cfy1T1eg8PlEsJjf8vNh4XWRhA7hG2sGLJGPq5Z9Q0WNGyDFcjZmZXiuONr6OwFewos1tM__BGqzX7TK91FnvUj-lo4ALFPcR3MHaE1xVhWAu91mXM8TAVEPb5rvFx4B43X5FdmIVN_gD5b9taSLG5VHaQqEph6KtKijr31JBg-JrL3WEtZVv9eIdWjfFLEGLQo_K-gbEZdS58TAUJNDCkcFoMK0OJ1WUk0YDZzXczAU8NOK4H31mRp941mGtvmMQ_YCywB-n8yaKQ8kdPCHOtw/p.jpeg?fv_content=true&size_mode=5" alt="Profile picture">
    </div>
    <div class="content">
    <h1>Hello, my name is <span class="name">Mouhamadou Diouf</span></h1>
    <p>After working as a food engineer, I decided to go into web development and do what I really love. Since then, I have enjoyed every single day building web applications and making ideas concrete.</p>
    </div>
    <%= render 'layouts/social_links'%>
</div>