<div class="about-me-div">
    <div class="picture">
      <%= image_tag 'profile.jpg' %>
    </div>
    <div class="content">
    <h1>Hello, my name is <span class="name">Mouhamadou Diouf</span></h1>
    <p>After working as a food engineer, I decided to go into web development and do what I really love. Since then, I have enjoyed every single day building web applications and making ideas concrete.</p>
    </div>
    <%= render 'layouts/social_links'%>
</div>
