<h1 class="contact-me-title">Contact Me</h1>
<div class="contact-links">
    <a href="https://github.com/MouhaDiouf" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
<a href="https://twitter.com/mouhamadiouf" target = "_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
<a href="https://www.linkedin.com/in/mouha-diouf/" target="blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
<a href="mailto:mouhamadoudioufsn@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>

</div>