
<header class="header">
<div class="welcome-message-div">
<p class="welcome-message">Hello, my name is <span class="my-name">Mouhamadou</span> and I am a web developer</p>
<%= link_to 'View My Work', portfolio_path, class: 'view-work-button' %> 
</div>
</header>
<div class="welcome-footer">
<div class="social-links">
<a href="https://github.com/MouhaDiouf" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
<a href="https://twitter.com/mouhamadiouf" target = "_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
<a href="https://www.linkedin.com/in/mouha-diouf/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
</div>
<p>&copy; 2020 Mouhamadou Diouf</p>
</div>
