<nav class="main-navigation">
<ul>
<li class="brand"><%= link_to "Mouha", root_path %></li>
<li class="nav-item"><%= link_to "Welcome", root_path %></li>
<li class="nav-item"><%= link_to "Portfolio", portfolio_path%></li>
<li class="nav-item"><%= link_to "Blog", "https://medium.com/@mouhadiouf", target: :_blank %></li>
<li class="nav-item"><a href="#">About</a></li>
</ul>
</nav>